<div id="page_wrapper">

<div id="content">
<h1>BLOGG LOVIN</h1>
<p>
	500 Blogg Ave
</p>
<p>Arverne. Ny 11691</p>
<p>1800-777-2211</p><br>
<p><a href id= "boy">info@blogglovin.com</a></p>
</div>
</div>